; begin auth token
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/registry/:username=restoque-devops
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/registry/:_password=a21sY240a3Y1NHozdjJyNXh0a3J0em1veXZhbnU0NWlsYWkzeXgyaTM2NWZmZDVtN3RxcQ==
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/registry/:email=iago.bezerra@restoque.com.br
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/registry/:always-auth=true
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/:username=restoque-devops
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/:_password=a21sY240a3Y1NHozdjJyNXh0a3J0em1veXZhbnU0NWlsYWkzeXgyaTM2NWZmZDVtN3RxcQ==
//pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/:email=iago.bezerra@restoque.com.br
; end auth token

@restoque:registry=https://pkgs.dev.azure.com/restoque-devops/_packaging/restoque-devops/npm/registry/
